
<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>

<div class="container botones p-4 mt-4 mb-4">
    <div class="row mx-auto">
        <div class="col-md-4 p-3">
            <a href="/" class="btn btn-primary btn-block">Volver</a>
        </div>  
    </div>
</div>
<div class="container  p-4 mt-4 mb-4">

    <h2>Cola de mensajes a enviar</h2>
    <table class="table">
      <thead class="thead-dark">
        <tr>
            <th>Id</th>
            <th>Número</th>
            <th>Mensaje</th>
            <th>Enviado</th>
            <th>Fecha enviado</th>
            <th>Anulado</th>
            <th>Fecha anulado</th>
        </tr>
      </thead>
      <tbody>
  {{#each rows}}
        <tr>
            <td>{{id}}</td>
            <td>{{destino}}</td>
            <td>{{mensaje}}</td>
            <td>{{enviado}}</td>
            <td>{{fecha_enviado}}</td>
            <td>{{anulado}}</td>
            <td>{{fecha_anulado}}</td>
        </tr>
  {{else}}
        <tr><td><p>Sin Resultados</p></td></tr>
  {{/each}} 
    </tbody>
  </table>
</div>


